@import "./mixins.scss";

.follow-btn {
  background-image : linear-gradient($my-page-follow-button-background-color,$my-page-follow-button-background-gradient-color);
  border           : 1px solid $my-page-follow-button-border-color;
  border-radius    : 4px;
  color            : $my-page-follow-button-text-color;
  cursor           : pointer;
  display          : inline-block;
  font-size        : 14px;
  font-weight      : bold;
  padding          : 8px 14px;
  position         : relative;

  & i {
    color : $my-page-follow-button-icon-color;
  }

  &:hover {
    background-color : $my-page-follow-button-background-hover-color;
    background-image : linear-gradient($my-page-follow-button-background-color,$my-page-follow-button-background-hover-color);
  }
}

.new_relationship, .edit_relationship{
  text-align : center;
}

.states{
  text-align : center;
  margin     : 15px 0;
  .following-link, .followers-link{
    text-decoration: none;
  }
  .following-state, .followers-state{
    color : $my-page-follow-state-color;
    .number{
      font-size : 18px;
      color     : $my-page-follow-state-number-color;
    }
  }
}

.following-user{
  @include users-index();
}


.followers-user{
  @include users-index();
}
