//top-page
$top-page-background-color              : #F5F5F5;
$top-page-logo-font-color-study         : #333;
$top-page-logo-font-color-post          : #1A6DC1;
$top-page-logo-font-under-line-color    : #F7A4A4;

//訪問済みリンク
$visited-link-color : #333;
