//top-page
$top-page-background-color              : #F5F5F5;
$top-page-logo-font-color-study         : #333;
$top-page-logo-font-color-post          : #1A6DC1;
$top-page-logo-font-under-line-color    : #F7A4A4;

//my-page
$my-page-study_total_value                 : #1DA1F3;
//title
$my-page-title-color                       : #fff;
$my-page-title-background-color            : #239DDA;
$my-page-title-background-before-color     : #2980AF;
//post-title
$my-page-post-title-background-color       : #7FC1D0;
$my-page-post-title-color                  : #FFF;
$my-page-post-title-background-hover-color : #FFF;
$my-page-post-title-hover-color            : #7FC1D0;
//user-name
$my-page-user-name-color                   : #F39800;
$my-page-user-name-shadow-color            : #C0C0C0;

//form
$form-title-color                          : #1D50A2;
$form-title-border-color                   : #ddd;
$form-required-color                       : #FF0000;
$form-field-color                          : #EBEBEB;
$form-field-border-color                   : #C2C2C2;
$form-error-color                          : #FF0000;
$form-focus-color                          : #89C3EB;
$form-submit-button-background-color       : #2980AF;
$form-submit-button-background-hover-color : #1D50A2;
$form-submit-button-shadow-color           : #DADADA;
$form-submit-button-color                  : #FFF;
$form-validation-error-mesage-color        : #CC231C;

//post-show
//title
$post-show-post-date-background-color    : #37A0C8;
$post-show-post-date-border-color        : #ddd;
//content
$post-show-post-content-background-color : #FFF;
$post-show-post-content-border-top-color : #5F7C9E;
$post-show-post-content-item-color       : #6C9BD2;
$post-show-post-content-text-color       : #424F56;
//icon
$post-show-post-edit-icon-color          : #33CC33;
$post-show-post-delete-icon-color        : #AAA;


//訪問済みリンク
$visited-link-color : #333;
