.form-style {
  margin:0 auto;
  max-width: 500px;
  padding: 20px 12px 10px 20px;
  font: 14px Arial, Helvetica, sans-serif;
}
.form-style-heading {
  font-weight: bold;
  font-style: italic;
  border-bottom: 2px solid #ddd;
  margin-bottom: 40px;
  font-size: 24px;
  padding-bottom: 3px;
  text-shadow: 1px 1px 0 rgba(0,0,0,.2);
  color:#1D50A2;
}
.form-style {
  label {
    display: block;
    margin: 0px 0px 15px 0px;
    > span {
      width: 100px;
      font-weight: bold;
      float: left;
      padding-top: 8px;
      padding-right: 5px;
    }
  }
  span.required {
    color: red;
  }
  .input-field {
    width: 48%;
  }
  .input-field, .textarea-field {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
  }
  .textarea-field {
    height: 100px;
    width: 55%;
  }
  .input-field:focus, .textarea-field:focus {
    border: 1px solid #89C3EB;
  }
  .data-field {
    width: 45%;
    margin-top: 8px;
    font-size: 15px;
    letter-spacing: 3px;
  }
  .time-field {
    width: 30%;
    margin-top: 8px;
    font-size: 15px;
    letter-spacing: 3px;
  }
  .time-field, .data-field {
    -webkit-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-border-radius: 3px;
    padding: 7px 20px;
    outline: none;
  }
  .time-field:focus, .data-field:focus {
    border: 1px solid #89C3EB;
  }

  .input {
    &[type=submit], &[type=button] {
      margin:30px 100px;
      font-size: 14px;
      border: none;
      padding: 10px 60px;
      background: #2980AF;
      color: #fff;
      box-shadow: 1px 1px 4px #DADADA;
      -moz-box-shadow: 1px 1px 4px #DADADA;
      -webkit-box-shadow: 1px 1px 4px #DADADA;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
    }
    &[type=submit]:hover, &[type=button]:hover {
      background: #1D50A2;
      color: #fff;
    }
  }
}
