.post-show{
  max-width: 700px;
  margin: 40px auto 0;
  padding: 20px 12px 10px 20px;
  font: 13px Arial, Helvetica, sans-serif;

  .post-title{
    display: inline-block;
    padding: 0 .4em .1em;
    background: linear-gradient(transparent 60%, #37A0C8 0%);
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 26px;
    padding-bottom: 3px;
  }
  .post-date {
    font-size: 14px;
  }
}
.post-contents{
    max-width: 500px;
    padding: 0.5em 1em;
    margin: 2em auto;
    background: #FFF;
    border-top: solid 5px #5F7C9E;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);

  p {
      margin: 0;
      padding: 0;
  }
}
.post-content-text{
  display: inline-block;
  width: 60%;
  vertical-align:top;
  color: #424F56;
  font-size: 16px;
}
.post-content-item{
  font-weight: bold;
  display: inline-block;
  width: 30%;
  vertical-align:top;
  color: #6C9BD2;
  font-size: 18px;
}
.post-content{
  margin:20px 0;
}
